﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section ng-app="BookApp">
        <div ng-controller="MainController as vm">
            <div class="scheudle-field">
                <fieldset class="livros">
                    <legend>Inserir Livros</legend>
                    <div class="InsertBooks">
                        <md-input-container class="md-block">
                            <label class="lblTitulo">Titulo</label>
                            <input required placeholder="Titulo do Livro" name="title" class="inputLivro" ng-model="vm.title">

                        </md-input-container>
                        <md-input-container class="md-block">
                            <label class="lblAutorNome">Autor</label>
                            <input placeholder="Autor do Livro" name="authorName" class="inputLivro" ng-model="vm.authorName">

                        </md-input-container>
                        <md-input-container class="md-block">
                            <label class="lblAnoEdicao">Ano</label>
                            <input type="number" placeholder="Ano da Edição" name="editionYear" class="inputLivro" ng-model="vm.editionYear">
                        </md-input-container>
                    </div>
                    <md-button ng-click="vm.insereLivro();" class="md-raised md-primary btnLivro">Inserir Livro</md-button>
                </fieldset>
                <fieldset class="ordenacao">
                    <legend>Ordenar Livros</legend>
                    <div class="InsertOrders">
                        <div class="selectOrdenacao">
                            <div class="atributos">
                                <label>Atributos</label>
                                <md-select ng-model="vm.atributoSelecionado">
                                    <md-optgroup label="Atributos">
                                        <md-option ng-value="key" ng-repeat="(key,val) in vm.attributes">{{val}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </div>

                            <div>
                                <label>Ordenação</label>
                                <md-select ng-model="vm.ordemSelecionada">
                                    <md-optgroup label="Ordem">
                                        <md-option ng-value="key" ng-repeat="(key,val) in vm.orders">{{val}}</md-option>
                                    </md-optgroup>
                                </md-select>
                                <md-button ng-click="vm.insereOrdem();" class="md-raised md-primary btnOrdem">Inserir Ordem</md-button>
                            </div>
                        </div>
                        <fieldset class="ordenacaoLista">
                            <legend>Ordem</legend>
                            <div ng-repeat="item in vm.ordensInterface"><md-button ng-click="vm.removeOrdem($index)" class="md-raised md-warn btnOrdemSelecionada">{{item.Attribute}} - {{item.Order}}</md-button></div>
                        </fieldset>
                    </div>
                </fieldset>

            </div>
            <md-button ng-click="vm.enviaOrdenacao();" class="md-raised md-primary btnEnviaOrdenacao">Enviar para Serviço de Ordenação</md-button>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <a href="#">
                                Titulo <span ng-show="orderByField == 'firstName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" >
                                Autor<span ng-show="orderByField == 'lastName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>
                            <a href="#">
                                Ano <span ng-show="orderByField == 'age'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                            </a>
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in vm.books">
                        <td>{{emp.Title}}</td>
                        <td>{{emp.AuthorName}}</td>
                        <td>{{emp.EditionYear}}</td>
                        <td><md-button ng-click="vm.remove($index)" class="md-raised md-primary btnRemover">Remover</md-button></td>
                    </tr>
                </tbody>
            </table>


        </div>
    </section>
</div>
