﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

    table tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }

fieldset {
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    margin: 20px 0 10px 0 !important;
    width: 50%;
    margin-left: 5px;
}

.livros {
    border-top: 2px solid #ddd !important;
    border-left: 2px solid #ddd !important;
    border-bottom: 2px solid #ddd !important;
}

.ordenacao {
    display: inline-flex;
    border-top: 2px solid #ddd !important;
    border-right: 2px solid #ddd !important;
    border-bottom: 2px solid #ddd !important;
}

.ordenacaoLista {
    border: 2px solid #ddd !important;
    margin: 0 0 0px 65px !important;
}

fieldset legend {
    color: #808080;
    font-size: 1.2em !important;
    font-weight: normal !important;
    text-align: center !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    box-shadow: 0 0 0 2px #e4e4e4;
    border-radius: 3px;
}

.InsertBooks, .scheudle-field, .InsertOrders {
    display: inline-flex;
    width: 100%;
}

.btnOrdem, .btnLivro, .btnEnviaOrdenacao,.btnRemover {
    font-size: 12px;
    height: 30px;
}
.btnOrdem{
    width: 161px;
    margin-left: -96px;
    margin-top: 28px;

}
.btnLivro{
    width: 200px;
    margin-left: 33%;
    margin-top: 0px;
}
.btnEnviaOrdenacao {
    margin: 5px 0 10px 40%;
    width: 300px !important;
}
.btnRemover{
    width: 93%;
}
.btnOrdemSelecionada {
    font-size: 12px;
    height: 20px;
    width: 100%;
}

.selectOrdenacao {
    display:inherit;
    margin-top: 8px;
}
.inputLivro{
        margin: 32px 0 !important;

}
.atributos{
        height: 50px;
    margin-right: 40px;
}
.md-select {
    margin: 0px 0 0px 0 !important;
}
